:root{
  --main-bg-color: #264653;
  --sec-bg-color: white;
  --font-color: #E76F51;
  --border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--sec-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  height: 100px;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  word-spacing: -0.1em;
}

h1{
  margin: 0;
}

.cell{
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell{
  width: 33.3%;
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2em;
  background-size: 33%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.cell:hover{
  cursor: pointer;
}

.cell:nth-child(3n){
  border-left: var(--border);
}

.cell:nth-child(3n-2){
  border-right: var(--border);;
}

.cell:nth-child(-n+3){
  border-bottom: var(--border);;
}
.cell:nth-child(n+7){
  border-top: var(--border);;
}

.marker{
  height: 100%;
  -webkit-user-drag: none;
}

.controls{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 300px;
}

.reset{
  border: none;
  padding: 1em;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.reset:hover{
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.messageBox{
  margin-top: 1em;
  font-size: 20px;
  width: 100%;
  padding: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
  filter: opacity(0.4);
}

.hoverMarker{
  filter: opacity(0.3);
}

@media (max-width: 600px) {
  .board {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1500px) {
  .board {
    width: 350px;
    height: 350px;
  }
  header{
    height: 80px;
  }
}